{% extends 'base.html.twig' %}

{% block title %}Vehicules - e-motion{% endblock %}

{% block body %}
<section class="home-section mt-0 pt-5">
    <h1 class="h1 text-center mb-5">Location de véhicules électriques</h1>
<div class="example-wrapper">
    {% include 'search/search.html.twig' %}
    <div class="container">
        <div class="d-flex justify-content-around flex-wrap" id="ajaxSearchCard">
            {% for v in vehicules %}
            <div class="card card-style mb-4" style="width: 18rem;">
                <img class="card-img-top logo-card" src="{% for picture in picturesVehicle %}{% if picture.vehicle.id == v.id %} {{ asset(base_path ~ 'upload/picture/' ~ picture.value) }} {% endif %}{% endfor %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold t-over">{{ v.brand }} - {{ v.model }}</h5>
                    <p class="card-text t-over">{{ v.description }}</p>
                    <p class="font-weight-bold">{{ v.km }} km</p>
                    <div class="text-right">
                        <a href="{{ path('show_vehicle',{'id': v.id}) }}" class="button btn">Voir plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>
{% endblock %}
