{% extends 'admin/layout.html.twig' %}

{% block title %}Liste locations{% endblock %}

{% block content %}
    {#    {% if error %}#}
    {#        <div class="alert alert-danger">#}
    {#            {{ error }}#}
    {#        </div>#}
    {#    {% endif %}#}
    <section class="adminAddVehicle">
        <h1 style="text-align: center">Liste des locations</h1>
        {% if activeLocations %}
        <div class="row" style="margin-top: 30px;">
            <h3>Liste des locations actives</h3>
            <div class="scrollTable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Véhicule</th>
                        <th scope="col">Offre</th>
                        <th scope="col">Début</th>
                        <th scope="col">Fin prévue</th>
                        <th scope="col">Retour du véhicule</th>
                        <th scope="col">Nombre de kilomètres effectués</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for activeLocation in activeLocations %}
                            <tr>
                                <td>{{ activeLocation.id }}</td>
                                <td><a href="{{ path('admin_user_edit',{'id': activeLocation.user.id}) }}">{{ activeLocation.user.id }}</a></td>
                                <td><a href="{{ path('admin_vehicle_edit',{'id': activeLocation.vehicle.id}) }}">{{ activeLocation.vehicle.id }}</a></td>
                                <td><a href="{{ path('admin_offer_edit',{'id': activeLocation.offer.id}) }}">{{ activeLocation.offer.id }}</a></td>
                                <td>{{ activeLocation.startAt|date('d/m/Y') }}</td>
                                <td>{{ activeLocation.endAt|date('d/m/Y') }}</td>
                                <td>{% if activeLocation.returnAt is not null %}{{ activeLocation.returnAt|date('d/m/Y') }}{% else %}N/A{% endif %}</td>
                                <td>{{ activeLocation.returnKm }}</td>
                                <td><a href="{{ path('admin_location_status',{'id': activeLocation.id}) }}">
                                        <button type="button" class="btn btn-primary">Annuler</button>
                                    </a>
                                    <a href="{{ path('admin_location_edit',{'id': activeLocation.id}) }}">
                                        <button type="button" class="btn btn-warning">Modifier</button>
                                    </a>
                                    {% if activeLocation.returnAt is null %}
                                        {% if activeLocation.endAt|date('d-m-Y') < now|date('d-m-Y') %}
                                            <a href="{{ path('admin_location_send',{'id': activeLocation    .id}) }}">
                                                <button type="button" class="btn btn-dark">Envoyer un mail</button>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if inactiveLocations %}
            <div class="row" style="margin-top: 30px;">
                <h3>Liste des locations inactives</h3>
                <div class="scrollTable">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Véhicule</th>
                            <th scope="col">Offre</th>
                            <th scope="col">Début</th>
                            <th scope="col">Fin prévue</th>
                            <th scope="col">Retour du véhicule</th>
                            <th scope="col">Nombre de kilomètres effectués</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inactiveLocation in inactiveLocations %}
                            <tr>
                                <td>{{ inactiveLocation.id }}</td>
                                <td><a href="{{ path('admin_user_edit',{'id': inactiveLocation.user.id}) }}">{{ inactiveLocation.user.id }}</a></td>
                                <td><a href="{{ path('admin_vehicle_edit',{'id': inactiveLocation.vehicle.id}) }}">{{ inactiveLocation.vehicle.id }}</a></td>
                                <td><a href="{{ path('admin_offer_edit',{'id': inactiveLocation.offer.id}) }}">{{ inactiveLocation.offer.id }}</a></td>
                                <td>{{ inactiveLocation.startAt|date('d/m/Y') }}</td>
                                <td>{{ inactiveLocation.endAt|date('d/m/Y') }}</td>
                                <td>{% if inactiveLocation.returnAt is not null %}{{ inactiveLocation.returnAt|date('d/m/Y') }}{% else %}N/A{% endif %}</td>
                                <td>{{ inactiveLocation.returnKm }}</td>
                                <td><a href="{{ path('admin_location_status',{'id': inactiveLocation.id}) }}">
                                        <button type="button" class="btn btn-primary">Réactiver</button>
                                    </a>
                                    <a href="{{ path('admin_location_edit',{'id': inactiveLocation.id}) }}">
                                        <button type="button" class="btn btn-warning">Modifier</button>
                                    </a>
                                    {% if inactiveLocation.returnAt is null %}
                                        {% if inactiveLocation.endAt|date('d-m-Y') < now|date('d-m-Y') %}
                                            <a href="{{ path('admin_location_send',{'id': inactiveLocation    .id}) }}">
                                                <button type="button" class="btn btn-dark">Envoyer un mail</button>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
