{% extends 'emails/layout.html.twig' %}

{% block body %}
    <div>
        <p>Bonjour {{ user.firstname }},</p>
        <p>Vous n'avez pas rendu votre véhicule de location !
        </p>
        <p>En ne le rendant pas dans les temps, vous encourez des pénalités.</p>
        <p>Marque du véhicule : <strong>{{ vehicle.brand }}</strong></p>
        <p>Modèle du véhicule : <strong>{{ vehicle.model }}</strong></p>
        <p>Plaque d'immatriculation du véhicule : <strong>{{ vehicle.plateNumber }}</strong></p>
        <!--<p>Pour vérifier votre compte, veuillez cliquer sur le bouton ci-dessous</p>-->

{#        <a href="{{ url('home') }}" target="_blank"#}
{#           style="text-transform: uppercase; text-align: left; padding-right: 30px; min-width: 80px; color: #F35321;border: 1px solid rgb(39,58,96); background-color: #FFF; display: inline-block; vertical-align: middle; touch-action: manipulation; cursor: pointer; padding: 14px 13px; font-size: 16px; border-radius: 5px; text-decoration: none;">Accéder#}
{#            à la plateforme</a>#}
        <p>A très bientôt, </p>
        <p>L'Equipe.</p>
    </div>
{% endblock %}
