{% extends 'admin/layout.html.twig' %}

{% block title %}Liste véhicules{% endblock %}

{% block content %}
{#    {% if error %}#}
{#        <div class="alert alert-danger">#}
{#            {{ error }}#}
{#        </div>#}
{#    {% endif %}#}
<section class="adminAddVehicle">
    <h1 style="text-align: center">Liste des véhicules</h1>
    <div class="row" style="margin-top: 30px;">
        <h3>Tout les véhicules</h3>
        <div class="scrollTable">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Propriétaire</th>
                    <th scope="col">Type</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Numéro de série</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Plaque d'immatriculation</th>
                    <th scope="col">Nombre de kilomètres</th>
                    <th scope="col">Date d'achat</th>
                    <th scope="col">Prix d'achat</th>
                </tr>
            </thead>
            <tbody>
            {% if allVehicles %}
            {% for allVehicle in allVehicles %}
                <tr>
                    <td>{{ allVehicle.id }}</td>
                    <td><a href="{{ path('admin_user_edit',{'id': allVehicle.user.id}) }}">{{ allVehicle.user.id }}</a></td>
                    <td>{{ allVehicle.type }}</td>
                    <td>{{ allVehicle.brand }}</td>
                    <td>{{ allVehicle.model }}</td>
                    <td>{{ allVehicle.serialNumber }}</td>
                    <td>{{ allVehicle.color }}</td>
                    <td>{{ allVehicle.plateNumber }}</td>
                    <td>{{ allVehicle.km }}</td>
                    <td>{{ allVehicle.buyAt|date('d/m/Y') }}</td>
                    <td>{{ allVehicle.price }}€</td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <h3>Véhicules en location</h3>
        <div class="scrollTable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Propriétaire</th>
                    <th scope="col">Type</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Numéro de série</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Plaque d'immatriculation</th>
                    <th scope="col">Nombre de kilomètres</th>
                    <th scope="col">Date d'achat</th>
                    <th scope="col">Prix d'achat</th>
                </tr>
                </thead>
                <tbody>
                {% if vehiclesLocation %}
                {% for vehicleLocation in vehiclesLocation %}
                    <tr>
                        <td>{{ vehicleLocation.vehicle.id }}</td>
                        <td><a href="{{ path('admin_user_edit',{'id': vehicleLocation.vehicle.user.id}) }}">{{ vehicleLocation.vehicle.user.id }}</a></td>
                        <td>{{ vehicleLocation.vehicle.type }}</td>
                        <td>{{ vehicleLocation.vehicle.brand }}</td>
                        <td>{{ vehicleLocation.vehicle.model }}</td>
                        <td>{{ vehicleLocation.vehicle.serialNumber }}</td>
                        <td>{{ vehicleLocation.vehicle.color }}</td>
                        <td>{{ vehicleLocation.vehicle.plateNumber }}</td>
                        <td>{{ vehicleLocation.vehicle.km }}</td>
                        <td>{{ vehicleLocation.vehicle.buyAt|date('d/m/Y') }}</td>
                        <td>{{ vehicleLocation.vehicle.price }}€</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <h3>Véhicules disponible</h3>
        <div class="scrollTable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Propriétaire</th>
                    <th scope="col">Type</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Numéro de série</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Plaque d'immatriculation</th>
                    <th scope="col">Nombre de kilomètres</th>
                    <th scope="col">Date d'achat</th>
                    <th scope="col">Prix d'achat</th>
                </tr>
                </thead>
                <tbody>
                {% if vehiclesAvailable %}
                    {% for vehicleAvailable in vehiclesAvailable %}
                        <tr>
                            <td>{{ vehicleAvailable.id }}</td>
                            <td><a href="{{ path('admin_user_edit',{'id': vehicleAvailable.user.id}) }}">{{ vehicleAvailable.user.id }}</a></td>
                            <td>{{ vehicleAvailable.type }}</td>
                            <td>{{ vehicleAvailable.brand }}</td>
                            <td>{{ vehicleAvailable.model }}</td>
                            <td>{{ vehicleAvailable.serialNumber }}</td>
                            <td>{{ vehicleAvailable.color }}</td>
                            <td>{{ vehicleAvailable.plateNumber }}</td>
                            <td>{{ vehicleAvailable.km }}</td>
                            <td>{{ vehicleAvailable.buyAt|date('d/m/Y') }}</td>
                            <td>{{ vehicleAvailable.price }}€</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
